ul {
  list-style-type: none;
  margin: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1158px;
  padding: 24px 15px;
  margin: 0 auto;
  background: #fff;
}

.gallery-image {
  width: 360px;
  max-height: 200px;
}
